:host {
  display: block;
  margin-top: 64px; /* altura real de tu <mat-toolbar> */
}
.notifications-container {
  padding: 24px;
  max-width: 700px;
  margin: auto;
  min-height: calc(82.6vh - 100px);
}

.notification-card {
  margin-bottom: 20px;
  border-left: 5px solid #673ab7;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.no-notifications {
  text-align: center;
  margin-top: 50px;
  color: #888;
  font-style: italic;
}
