<div class="chat-container">
  <div class="chat-content">
    <div class="chat-header">Chat con Paciente</div>

    <div class="chat-messages">
      <div *ngFor="let msg of messages" class="message" [ngClass]="msg.sender === 'doctor' ? 'right' : 'left'">
        <img [src]="msg.sender === 'doctor' ? 'https://i.pravatar.cc/40?img=2' : 'https://i.pravatar.cc/40?img=3'" class="avatar" />
        <div class="bubble">
          {{ msg.text }}
          <div *ngIf="msg.file">
            <br />
            <a [href]="msg.file.url" [attr.download]="msg.file.name">📎 {{ msg.file.name }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-actions">
      <button class="clear-chat-btn" (click)="clearChat()">🗑 Borrar chat</button>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="newMessage" type="text" placeholder="Escribe un mensaje..." (keydown.enter)="sendMessage()" />

      <label class="file-upload-icon">
        <input type="file" (change)="handleFileUpload($event)" />
        <mat-icon>attach_file</mat-icon>
      </label>

      <div *ngFor="let file of uploadedFiles" class="file-preview">
        <img *ngIf="file.url.endsWith('.jpg') || file.url.endsWith('.jpeg') || file.url.endsWith('.png')" [src]="file.url" class="preview-image" />
        <span>{{ file.name }}</span>
      </div>

      <button (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
