<div [class.dark-mode]="isDarkMode">
  <ng-container *ngIf="!isAuthRoute">
    <app-header-for-user-type-service></app-header-for-user-type-service>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="!isAuthRoute">
    <app-footer-content></app-footer-content>
  </ng-container>

  <div class="dark-mode-toggle">
    <button (click)="toggleDarkMode()">
      {{ (darkModeService.darkMode$ | async) ? 'Light Mode' : 'Dark Mode' }}
    </button>
  </div>

  <div class="language-switcher">
    <button (click)="switchLang('en')">English</button>
    <button (click)="switchLang('es')">Español</button>
  </div>
</div>
